body {
    margin: 0;
    /* Remove a margem padrão externa que vem no navegador */
    padding: 0;
    /* Remove o espaçamento interno padrão que vem no navegador */
    min-height: 100vh;
}

/*Config geral do cabeçalho*/

.cab {
    background-color: rgb(47, 47, 47);
    /* Define a cor de fundo como um cinza escuro */
    position: relative;
    /* Ativa o modo de posicionamento manual para este bloco */
    z-index: 2;
    /* Faz o cabeçalho ficar visualmente acima do menu-abaixo na tela */
    padding-top: 105px;
    /* Cria um espaço em branco interno na parte de cima */
    border-bottom: 3px solid rgb(47, 47, 47);
}

/*Config da logo no cabeçalho*/

.cab .cab-logo {
    text-align: right;
    /* Alinha o logotipo no lado direito da tela */
    margin-top: -210px;
    /* Puxa a imagem para cima, sobrepondo o fundo cinza */
    margin-right: 50px;
    /* Afasta a imagem da borda direita em 50 pixels */
    user-select: none;
    /* Impede que o usuário consiga selecionar a imagem com o mouse */
}

/*Config do 'KaMusic' no cabeçalho*/

.cab-titulo h1 {
    color: white;
    /* Muda a cor do texto para branco */
    font-size: 80px;
    /* Define um tamanho de letra muito grande */
    font-weight: 20;
    /* Define a espessura da letra como muito fina */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Define as fontes do texto */
    user-select: none;
    /* Impede que o usuário consiga selecionar o texto com o mouse */
    margin-bottom: 30px;
    /* Cria um espaço vazio logo abaixo do título */
    margin-left: 75px;
    /* Empurra o texto 100 pixels para a direita */
    margin-top: 40px;
    /* Sobrescreve a margem anterior e empurra o texto para baixo */
}

/*Config do menu*/

.menu {
    display: flex;
    /* Ativa o alinhamento flexível, colocando os links lado a lado */
    margin-top: -80px;
    /* Puxa todo o menu de links para cima */
}

/*Config dos 'as' no menu*/

.menu a {
    color: white;
    /* Deixa o texto do link na cor branca */
    flex: 1;
    /* Faz todos os links ocuparem exatamente o mesmo tamanho e largura */
    text-decoration: none;
    /* Remove aquela linha sublinhada padrão dos links */
    display: flex;
    /* Permite alinhar o texto interno do link de forma flexível */
    align-items: center;
    /* Alinha o texto do link exatamente no centro vertical */
    font-size: 22px;
    /* Define o tamanho da letra do link */
    font-weight: bold;
    /* Deixa a letra em negrito */
    justify-content: center;
    /* Alinha o texto do link exatamente no centro horizontal */
    padding-top: 15px;
    /* Espaço interno livre em cima do texto do link */
    padding-bottom: 15px;
    /* Espaço interno livre embaixo do texto do link */
    border-top: 1px solid gray;
    /* Cria uma linha fina cinza na parte superior do link */
}

/*Cores dos tópicos do menu*/

.menu #home {
    border-bottom: rgba(101, 113, 246, 0.5);
    /* Aplica uma cor rosa/avermelhada na borda de baixo */
}

.menu #artistas {
    border-bottom: rgb(252, 128, 128);
    /* Aplica um azul com 50% de transparência na borda */
}

.menu #estilos {
    border-bottom: rgb(119, 252, 119);
    /* Aplica uma cor verde clara na borda de baixo */
}

.menu #sobre {
    border-bottom: rgba(255, 249, 129, 0.8);
    /* Aplica um amarelo com 80% de opacidade na borda */
}

/*Cores dos tópicos do menu ao terem o mouse passado por cima*/

.menu #home:hover {
    border-bottom: rgb(0, 21, 255);
    /* Muda a borda para vermelho vivo quando o mouse encosta */
}

.menu #artistas:hover {
    border-bottom: rgb(255, 0, 0);
    /* Muda a borda para azul vivo quando o mouse encosta */
}

.menu #estilos:hover {
    border-bottom: green;
    /* Muda a borda para verde escuro quando o mouse encosta */
}

.menu #sobre:hover {
    border-bottom: rgb(242, 255, 0);
    /* Muda a borda para amarelo vivo quando o mouse encosta */
}

/*Predefinições gerais dos tópicos do menu*/

.menu #home,
.menu #artistas,
.menu #estilos,
.menu #sobre {
    transition: 0.2s;
    /* Faz os efeitos de cor e tamanho mudarem de forma suave em 0.2 segundos */
    border-bottom-style: solid;
    /* Define que a linha da borda de baixo será contínua */
    border-bottom-width: 6px;
    /* Define a grossura inicial da borda em 6 pixels */
}

/*Predefinições gerais dos tópicos do menu ao terem o mouse passado por cima*/

.menu #home:hover,
.menu #artistas:hover,
.menu #estilos:hover,
.menu #sobre:hover {
    transition: 0.2s;
    /* Mantém a suavidade na animação de saída do mouse */
    margin-top: -7px;
    /* Move o link levemente para cima ao passar o mouse */
    background-color: gray;
    /* Muda a cor de fundo do link para cinza */
    border-bottom-style: solid;
    /* Garante o estilo contínuo da borda ao passar o mouse */
    border-bottom-width: 10px;
    /* Engrossa a borda para 10 pixels quando o mouse está em cima */
}

/*Config do 'mini' menu, que aparece qnd a tela do cabeçalho acaba*/

.menu-abaixo {
    display: flex;
    /* Organiza os elementos do menu menor lado a lado */
    justify-content: center;
    /* Centraliza horizontalmente o conteúdo do menu */
    align-items: end;
    /* Alinha o conteúdo na base inferior deste menu */
    height: 50px;
    /* Fixa a altura deste menu em 50 pixels */
    background-color: rgb(47, 47, 47);
    /* Define o fundo cinza escuro */
    position: sticky;
    /* Efeito flutuante: fixa o menu no topo quando o usuário rolar a página */
    top: 0;
    /* Determina onde ele vai grudar (exatamente no topo da tela) */
    z-index: 1;
    /* Ordem de empilhamento na tela abaixo do cabeçalho principal */
    margin-bottom: -180px;
    /* Recua a margem para puxar o conteúdo da página para baixo dele */
    box-shadow: 3px 3px 7px rgb(47, 47, 47, 0.7);
    /* Cria uma sombra preta suave abaixo do menu */
}

/*Config do 'KaMusic' do 'mini' menu */

.menu-abaixo .h1 {
    text-decoration: none;
    /* Tira o sublinhado do texto */
    user-select: none;
    /* Bloqueia a seleção do texto com o mouse */
    color: white;
    /* Letra branca */
    font-size: 40px;
    /* Tamanho médio de fonte */
    font-weight: 20;
    /* Espessura de letra fina */
    align-self: center;
    /* Centraliza este item verticalmente em relação ao menu */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Define as fontes */
    transition: 0.2s;
    /* Deixa o efeito visual de passar o mouse mais suave */
}

/*Config do 'KaMusic' do 'mini' menu ao ter o mouse passado por cima*/

.menu-abaixo .h1:hover {
    background-color: rgb(80, 80, 80);
    /* Escurece levemente o fundo do texto */
    border-radius: 7px;
    /* Arredonda os cantos desse fundo escuro */
}

/*Configs gerais dos 'as' do 'mini' menu*/

.menu-abaixo .a {
    margin-right: 70px;
    /* Cria um espaçamento do lado direito de cada link */
    margin-left: 70px;
    /* Cria um espaçamento do lado esquerdo de cada link */
    padding-bottom: 6px;
    /* Espaço livre abaixo do texto do link */
    padding-top: 15px;
    /* Espaço livre acima do texto do link */
    color: white;
    /* Letra na cor branca */
    font-size: 20px;
    /* Define o tamanho da fonte */
    font-weight: 10;
    /* Define a letra como extremamente fina */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Aplica o padrão de fontes */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    text-align: center;
    /* Alinha o texto bem no meio */
    flex: 1;
    /* Faz com que todos os links dividam igualmente o espaço disponível */
}

/*Cores dos tópicos do 'mini' menu */

.menu-abaixo #home {
    border-bottom: rgba(101, 113, 246, 0.5);
    /* Borda inferior azul semitransparente */
}

.menu-abaixo #artistas {
    margin-left: -30px;
    /* Puxa o link "artista" um pouco para a esquerda */
    border-bottom: rgb(252, 128, 128);
    /* Borda inferior rosa/avermelhada */
}

.menu-abaixo #estilos {
    margin-right: -30px;
    /* Puxa o link "Estilos" um pouco para a direita */
    border-bottom: rgb(119, 252, 119);
    /* Borda inferior verde clara */
}

.menu-abaixo #sobre {
    border-bottom: rgba(255, 249, 129, 0.8);
    /* Borda inferior amarela semitransparente */
}

/*Cores dos tópicos do 'mini' menu ao terem o mouse passado por cima*/

.menu-abaixo #home:hover {
    border-bottom: rgb(0, 21, 255);
    /* Linha de baixo vira azul forte quando passa o mouse */
}

.menu-abaixo #artistas:hover {
    border-bottom: rgb(255, 0, 0);
    /* Linha de baixo vira vermelha forte quando passa o mouse */
}

.menu-abaixo #estilos:hover {
    border-bottom: green;
    /* Linha de baixo vira verde escura quando passa o mouse */
}

.menu-abaixo #sobre:hover {
    border-bottom: rgb(242, 255, 0);
    /* Linha de baixo vira amarela forte quando passa o mouse */
}

/*Predefinições gerais dos tópicos do 'mini' menu */

.menu-abaixo #home,
.menu-abaixo #artistas,
.menu-abaixo #estilos,
.menu-abaixo #sobre {
    border-bottom-style: solid;
    /* Define que as linhas inferiores são contínuas */
    border-bottom-width: 5px;
    /* Inicia com 5 pixels de grossura de linha */
    transition: 0.2s;
    /* Adiciona suavidade na mudança de tamanho e cor */
}

/*Predefinições gerais dos tópicos do 'mini' menu ao terem o mouse passado por cima */

.menu-abaixo #home:hover,
.menu-abaixo #artistas:hover,
.menu-abaixo #estilos:hover,
.menu-abaixo #sobre:hover {
    border-bottom-style: solid;
    /* Garante que a linha continue contínua */
    border-bottom-width: 10px;
    /* Engrossa a linha para 10 pixels ao passar o mouse */
    margin-top: -6px;
    /* Empurra o link levemente para cima no movimento */
    background-color: gray;
    /* Aplica um fundo cinza no link selecionado */
}

footer {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

footer hr {
    margin-top: auto;
    margin-bottom: 20px;
}

footer b {
    font-size: 40px;
}

.divulg {
    justify-content: center;
    display: flex;
    align-items: center;
}

.divulg img {
    margin: 20px;
    width: 60px;
}


.main {
    margin: 40px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}

.corpo {
    background-color: rgba(255, 255, 255, 0.974);
    margin: 20px;
    padding: 40px;
    padding-top: 0px;
    border-radius: 15px;
    margin-top: 30px;
}

.BannerPrincipal {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    border-radius: 10px;
}

.BannerPrincipal:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.Banner {
    width: 95%;
    border-radius: 10px;
    transition: 0.2s;
}

.Banner:hover {
    transform: scale(1.02);
}

/* 

Botão de menu:

.menu-button{
    cursor:pointer;
}

.menu-button div {
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 1px;
}

*/



@media screen and (max-width: 570px) {
    .menu-abaixo .a {
        margin-right: 35px;
        margin-left: 35px;

    }

    .menu-abaixo {
        height: 60px;
    }

    .cab-titulo {
        padding-bottom: 80px;
        text-align: center;
        margin-bottom: 0px;
        /* Cria um espaço vazio logo abaixo do título */
        margin-left: 0px;
        /* Empurra o texto 100 pixels para a direita */
        margin-top: 0px;
    }

    .cab-titulo h1 {
        margin: 0;
    }

    .cab .cab-logo {
        opacity: 0%;
        margin-top: 0px;
        margin-right: 0px;
        user-select: none;
        display: none
    }

    .corpo {
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
    }

    .main {
        margin: 0px;
    }
    
}
