.gatilho {
    display: none;
}

#Opencard,
#Opencard1,
#Opencard2,
#Opencard3 {
    display: none;
}

#Opencard.aberto,
#Opencard1.aberto,
#Opencard2.aberto,
#Opencard3.aberto {
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    gap: 30px;
}

.info .texto-chilledcow {
    grid-column: 1;
}

.info img {
    grid-column: 2;
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}