/* Esconde o checkbox padrão */

.gatilho {
    display: none;
}


/* Esconde o ChilledCow por padrão */

#Opencard, #Opencard1, #Opencard2, #Opencard3 {
    display: none;
}


/* CONTEÚDO DO CHILLEDCOW */

body:has(#BB:checked) #Opencard {
    width: auto;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    gap: 30px;
}

body:has(#BB1:checked) #Opencard1 {
    width: auto;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    gap: 30px;
}

body:has(#BB2:checked) #Opencard2 {
    width: auto;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    gap: 30px;
}

body:has(#BB3:checked) #Opencard3 {
    width: auto;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    gap: 30px;
}


/* TEXTO */

.info .texto-chilledcow {
    grid-column: 1;
}


/* IMAGEM */

.info img {
    grid-column: 2;
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}