body {
  background-image: url(../IMG/Background4.png);
}

.box-sobrenos {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: auto;
  margin-top: 50px;

  border: 2px solid rgb(47, 47, 47);

  border-radius: 10px;
  padding: 20px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  font-family: Arial;
  font-size: 14px;

  text-align: center;

  box-sizing: border-box;

  transition: 0.2s;
}

.box-sobrenos p {
  text-indent: 2em;
}

.corpo {
  padding-top: 1px;
}

.Marcos,
.Emily,
.Kazuya {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
@media screen and (max-width: 570px) {
  .box-sobrenos {
    flex-direction: column;
  }

  .Marcos,
  .Emily,
  .Kazuya {
    width: 100%;
    max-width: 300px;
  }
}